@import url("main.css");


/* ABOUT EXHIBITION */

#about-exhibition .two-autocol-row {
    @media screen and (max-width: 769px) {
        grid-template-columns: 1fr;
    }
}

#about-exhibition img {
    max-width: 40rem;

    @media screen and (max-width: 769px) {
        width: 100%;
    }
}

#about-exhibition .pars-div p {
    max-width: 50ch;
}

#about-exhibition .pars-div > .flex-row-center {
    margin-top: 1rem;
    gap: var(--gap-100);
}
